form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: .9375rem;
    margin: 0 auto;
}

form input{
    padding: .3125rem;
    outline: none;
}

form select{
    padding: .3125rem;
    outline: none;
}

form input:last-child {
    background-color: rgb(8, 8, 69);
    border: none;
    color: white;
    padding: .625rem;
}